* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #428bca;
  text-decoration: none; }
  a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }
  .alert h4 {
    margin-top: 0;
    color: inherit; }
  .alert .alert-link {
    font-weight: bold; }
  .alert > p,
  .alert > ul {
    margin-bottom: 0; }
  .alert > p + p {
    margin-top: 5px; }

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px; }
  .alert-dismissable .close,
  .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit; }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d; }
  .alert-success hr {
    border-top-color: #c9e2b3; }
  .alert-success .alert-link {
    color: #2b542c; }

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f; }
  .alert-info hr {
    border-top-color: #a6e1ec; }
  .alert-info .alert-link {
    color: #245269; }

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b; }
  .alert-warning hr {
    border-top-color: #f7e1b5; }
  .alert-warning .alert-link {
    color: #66512c; }

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442; }
  .alert-danger hr {
    border-top-color: #e4b9c0; }
  .alert-danger .alert-link {
    color: #843534; }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0); }
  .tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .tooltip.top {
    margin-top: -3px;
    padding: 5px 0; }
  .tooltip.right {
    margin-left: 3px;
    padding: 0 5px; }
  .tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0; }
  .tooltip.left {
    margin-left: -3px;
    padding: 0 5px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000; }
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000; }
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #F9F9F9;
  font-family: 'Alef Hebrew', serif;
  position: relative; }

.form-control {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

textarea {
  width: 100%;
  height: 90% !important;
  resize: none;
  color: #4A0D67 !important; }

input[type="number"] {
  margin: auto;
  max-width: 120px; }

h4 {
  margin-top: 25px; }

h3 {
  font-weight: normal;
  color: red; }

.winner {
  font-weight: bold;
  color: green; }

.wrap {
  width: 100%;
  position: relative;
  height: 90%;
  min-height: 430px;
  padding: 20px 0; }

.left-block, .right-block {
  position: relative;
  width: 40%;
  height: 100%;
  padding: 0 2%; }

.left-block {
  float: left;
  left: 0; }

.right-block {
  float: right;
  right: 0; }

.center-block {
  float: left;
  width: 20%;
  position: relative;
  margin-top: 10px; }

.examples {
  padding: 0;
  width: 80px;
  margin: auto;
  border-radius: 6px 6px 3px 20px;
  -webkit-border-radius: 6px 6px 3px 20px;
  background-color: rgba(0, 255, 255, 0.08); }
  .examples li {
    list-style: none;
    font-size: 13px;
    text-align: center;
    color: #428bca; }
    .examples li span {
      cursor: pointer; }
      .examples li span:hover {
        text-decoration: underline; }
    .examples li:after {
      content: ' ';
      display: block;
      border-top: 1px solid black;
      opacity: .2;
      width: 50%;
      margin: auto; }
    .examples li:last-child:after {
      content: none; }

.img-loading {
  opacity: .7;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 1; }

.kewl-ninja {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto 0;
  transition: transform .3s linear;
  -webkit-transition: transform .3s linear; }

.rotateY {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); }

.btn {
  display: block;
  margin: auto;
  outline: none !important;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  font-weight: bold; }
  .btn:hover {
    background: none; }

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  border: 3px solid #5bc0de;
  transform: translateX(-3px);
  -webkit-transform: translateX(-3px); }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc; }
  .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    background-image: none; }
  .btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da; }
  .btn-info .badge {
    color: #5bc0de;
    background-color: #fff; }
  .btn-info:hover {
    background: none;
    color: #5bc0de; }

.btn-primary, .btn-primary:focus {
  color: plum;
  margin: 10px auto;
  padding: 0;
  max-width: 100px;
  white-space: normal;
  background: none;
  border: solid; }
  .btn-primary:hover, .btn-primary:focus:hover {
    color: #5bc0de;
    border-color: #5bc0de;
    background: none; }

.clear {
  clear: both; }

.footer-wrap {
  height: 10%;
  min-height: 34px;
  position: relative; }

.footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin: auto;
  bottom: 10px; }

.center {
  text-align: center; }

.confirm {
  opacity: .9;
  position: fixed;
  margin: auto;
  width: 200px;
  top: 30%;
  left: 0;
  right: 0; }
  .confirm p {
    margin: auto;
    padding-bottom: 10px;
    font-size: 24px !important; }
  .confirm.ng-enter {
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation: 0.2s slide-in;
    -webkit-animation: 0.2s slide-in; }
  .confirm.ng-leave {
    animation: 0.2s fadey;
    -webkit-animation: 0.2s fadey;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-direction: reverse;
    -webkit-animation-direction: reverse; }

.x {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-weight: bold; }

.tooltip-inner {
  color: black;
  background-color: #D1D2F9;
  opacity: .6; }

p {
  margin: 3px; }

.tooltip-arrow {
  border-top-color: #D1D2F9 !important; }

@keyframes slide-in {
  from {
    top: 0;
    opacity: 0; }
  to {
    top: 30%;
    opacity: .9; } }
@-webkit-keyframes slide-in {
  from {
    top: 0;
    opacity: 0; }
  to {
    top: 30%;
    opacity: .9; } }
@keyframes fadey {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadey {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media only screen and (max-device-width: 480px) {
  .btn {
    font-size: 9px !important; }

  .examples {
    width: 65px; } }

/*# sourceMappingURL=style.css.map */
