<!DOCTYPE html>
<html lang="en" ng-app="app.module">
	<head>
		<meta charset="UTF-8">
		<meta name="fragment" content="!">
		<base href="/">
		<title>Code Compare ninja - Measure performance and complexity of functions</title>
		<meta name="description" content="Code Compare is an app for testing runtime of other applications. User can input any two functions and see which one runs faster. With Code Compare ninja you can improve your application's respond time greatly.">
		<meta name="keywords" content="Performance, Complexity, Measure, Functions, Javascript, Angular, JQuery, Code Compare, faster, quicker">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="assets/styles/style.min.css">
    	<link rel="stylesheet"  href="assets/fonts/alef/stylesheet.css" type="text/css">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
	</head>
	<body ng-controller="Compare">
		<img class="img-loading" src="assets/images/ninja-loading.png" ng-show="loading" alt="Loading" title="Loading..."></img>

		<div class="wrap">
			<div class="left-block">
				<textarea class="form-control" ng-model="userFunction1" autocorrect="off" autocapitalize="off" spellcheck="false" focus-tab></textarea>
				<h3 class="center" ng-bind="timer1" ng-class="{'winner': func1wins}"></h3>
			</div>

			<div class="center-block">
				<input class="btn btn-info btn-sm" type="button" ng-click="compare()" ng-blur="resetErr()" value="COMPARE!">
				<h4 class="center">Loops:</h4>
				<input type="number" class="form-control" ng-model="howMany" min="1">
				<img class="kewl-ninja" ng-class="{'rotateY': !func1wins}" src="assets/images/ninja.png" title="kewl ninja" alt="kewl ninja">
				<input type="button" class="btn btn-primary btn-sm" ng-click="showExamples = !showExamples" value="Shocking examples">
				<ul collapse="showExamples" class="examples">
					<li ng-repeat="example in ::examples"><span ng-bind="::example" ng-click="setExample(example)"></span></li>
				</ul>
			</div>

			<div class="right-block">
				<textarea class="form-control" ng-model="userFunction2" autocorrect="off" autocapitalize="off" spellcheck="false" focus-tab></textarea>
				<h3 class="center" ng-bind="timer2" ng-class="{'winner': !func1wins}"></h3>
			</div>

			<alert class="confirm" ng-if="err" type="danger">
				<span class="x" ng-click="resetErr()">x</span>
				<span ng-bind="err"></span>
			</alert>

			<div class="clear"></div>
		</div>
		<div class="footer-wrap">
			<input type="button" class="btn btn-info btn-sm footer" value="About" tooltip-html-unsafe="{{::footer}}" tooltip-trigger="click">
		</div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
	    <script src="assets/externals/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<script src="assets/main.min.js"></script> 
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 


		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-62531633-1');
			ga('send', 'pageview');
    	</script>
	</body>
</html>